@page "/messenger"

<PageTitle>Messenger</PageTitle>

<h1>Messenger, EasyNetQ Demo</h1>

<br />

<h4>Publish and Subscribe Pattern</h4>
<h6>Click send button or hit enter</h6>

<div>
    <input type="text" @bind="_privateComment" @onkeypress="HandleKeyPressSendToPrivate" />
    <button @onclick="SendToPrivate"><i class="oi oi-envelope-closed"></i> Send to Private</button>
</div>
<div>
    <input type="text" @bind="_publicComment" @onkeypress="HandleKeyPressSendToPublic" />
    <button @onclick="SendToPublic"><i class="oi oi-envelope-closed"></i> Send to Public</button>
</div>

<br />

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h4>Subscribe to topic Test.*</h4>
            <div>
                @foreach(var comment in _incomingComments)
                {
                    <li>@comment</li>
                }
            </div>
        </div>

        <div class="col-md-4">
            <h4>Subscribe to topic Test.PrivateComment</h4>
            <div>
                @foreach(var comment in _incomingPrivateComments)
                {
                    <li>@comment</li>
                }
            </div>
        </div>

        <div class="col-md-4">
            <h4>Subscribe to topic Test.PublicComment</h4>
            <div>
                @foreach(var comment in _incomingPublicComments)
                {
                    <li>@comment</li>
                }
            </div>
        </div>

    </div>
</div>